body {
  background-color: #e1e1e1;
}

.warn-box {
  background-color: red;
}

.js-timer {
  height: 305px;
  margin: 5px;
}

.message {
  height: 34px;
}

.panel.panel-primary { 
  padding-left: 0px;  
  padding-right: 0px;
}   

.panel-primary > .panel-heading {
    background-image: linear-gradient(to bottom, #8346CC 0px, #357EBD 100%);
    background-repeat: repeat-x;
    color: #F2C100;
}

.panel-primary {
    border-color: #560B6C;
}

.clock {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 5px;
    -webkit-transition: all 3.5s ease;
    -moz-transition: all 3.5s ease;
    -o-transition: all 3.5s ease;
    transition: all 3.5s ease;
    background-image: linear-gradient(to bottom, #560B6C  0px, #E323FF 100%);
    background-repeat: repeat-x;
    border-color: #8346CC; 
    color: #F2C100;   
}

h1.clock { 
  font-size: 135px;  
}

.panel-title { 
  font-size: 28px;
}

.btn-primary.btn-block {
  margin-top: 0;
}

.alert-danger {
    background-image: linear-gradient(to bottom, #E84747 0px, #550D0D 100%);
    background-repeat: repeat-x;
    border-color: #DCA7A7;
}

















