<select class="form-control js-round-select">
  <option>Select a Round</option>
  {{#data}}
    <option value="{{dur}}" data-round="{{round}}" data-text="{{text}}">{{text}}</option>
  {{/data}}
</select>